# LECTURE-03

## SETS

- A set is iterable, mutable, and has no duplicate elements. It has elements in { }
- indexing is not possible in sets

In [1]:
set_var = set()

In [2]:
print (set_var)
type(set_var)

set()

set

In [19]:
set_var = {'ironman', 'batman', 'superman'}
print(set_var)
type(set_var)

{'superman', 'ironman', 'batman'}

set

In [20]:
set_var.add("badmashgujjar")
print(set_var)

{'badmashgujjar', 'superman', 'ironman', 'batman'}

In [ ]:
# indexing not possible in sets
{'badmashgujjar', 'superman', 'ironman', 'batman'}# set_var["superman"]

In [23]:
set_1= {'superman', 'ironman', 'batman'}
set_2= {'badmashgujjar', 'superman', 'ironman', 'batman'}

In [25]:
set_2.difference(set_1)

{'badmashgujjar'}

In [28]:
set_2.intersection(set_1)

{'batman', 'ironman', 'superman'}

In [30]:
set_2.difference_update(set_1)
print(set_2)

{'badmashgujjar'}

## DICTIONARIES

- unordered
- changeable
- indexed
- written in { }
- key: value pairs

In [32]:
dic = {}
type(dic)

dict

In [33]:
set = {1,3,4,5,6,}
type(set)

set

In [34]:
# lets create a dictionary

my_dict = {'car1': 'Audi', 'car2': 'Mercedes', 'car3': 'Benz'}
type(my_dict)

dict

In [37]:
# indexing is done on the base of keys not on numbers
my_dict['car1']

'Audi'

In [38]:
# for loop through the dictionary keys
for x in my_dict:
    print(x)

car1
car2
car3

In [41]:
# for loop through the dictionary values
for x in my_dict.values():
    print(x)

Audi
Mercedes
Benz

In [42]:
# for loop through the dictionary both key and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'Mercedes')
('car3', 'Benz')

In [43]:
# add items in dictionary
my_dict['car4'] = 'Toyota'

In [44]:
my_dict

{'car1': 'Audi', 'car2': 'Mercedes', 'car3': 'Benz', 'car4': 'Toyota'}

In [45]:
car1_model= {'Mercedes': 1980}
car2_model= {'Honda': 2000}
car3_model= {'Ford': 1990}

In [47]:
cars = {'car1': car1_model, 'car2': car2_model, 'car3': car3_model }

In [48]:
cars

{'car1': {'Mercedes': 1980}, 'car2': {'Honda': 2000}, 'car3': {'Ford': 1990}}

In [49]:
cars['car1']

{'Mercedes': 1980}

In [50]:
cars['car1']['Mercedes']

1980

## TUPLES

In [63]:
my_tuple = ('Farrakh', 'Class', 'Python'
)

In [53]:
type(my_tuple)

tuple

In [ ]:
# my_tuple['Farrakh'] = 'Zumar'

In [64]:
print(my_tuple)

('Farrakh', 'Class', 'Python')

In [66]:
my_tuple.index('Class')

1

In [65]:
my_tuple.count("Class")

1